= render partial: "header"
.message-contents
  .side-bar
    .side-bar__user
      .side-bar__user-content
        .side-bar__user-content--name
          = current_user.name
        .side-bar__user-content--new-group
          = link_to   do
            %i.fa.fa-edit
        .side-bar__user-content--edit-user
          = link_to edit_user_path(current_user)  do
            %i.fa.fa-cog
    .side-bar__groups
      .side-bar__group-list
        = render partial: "groups"
  .chat-main
    .chat-main__header
      .chat-main__header--group
        .chat-main__header--group-name
          sample
        .chat-main__header--group-edit-btn
          = link_to do
            edit
      .chat-main__header--members 
        Member:
        %i okada
    .chat-main__body
      .chat-main__body--messages-list
        = render partial: "chat"
    .chat-main__footer
      .chat-main__footer-form
        .chat-main__footer-form-body
          %input{placeholder:  "type a message", class: "message", type: "text"}
          %label.chat-file{for: ""}
            =link_to do
              %i.fa.fa-picture-o
        %input{ type: "submit", value: "Send", class:  "submit"}
